

<div id="main">
	<div id="taxi" class="responsive-img">
		<center><i class="fas fa-taxi" aria-hidden="true" id="im"></i>
		<!-- <img src="taxi.png" id="im"> -->
		<div id="shadow1"></div>
		<div id="shadow2"></div></center>
	</div>
</div>
    <div class="container">
        <form>
                    <div class="btns">
                        <center><button type="submit" class="login" formaction="/users/login">Login</button></center>
                        <center><button class="register" formaction="/users/register">Register</button></center>
                    </div>
              </form>
                </div>    
                        
                    
            
            
        
    