<div>
    <div id="main">
	<div id="taxi" class="responsive-img">
		<center><i class="fas fa-taxi" aria-hidden="true" id="im"></i>
		<!-- <img src="taxi.png" id="im"> -->
		<div id="shadow1"></div>
		<div id="shadow2"></div></center>
	</div>
</div>
    <div class="container">
           
        
                    <form class="form" action="select.html">
                            <div class="btns">
                        
                        <center><input type="button" class="reqbtn" value="Request Ride" onclick="location.href='/users/request'"></center>
                        <center><input type="button" class="givebtn" value="Give Ride" onclick="location.href='/users/give'"></center>
                                
                    </div>
     
                </form>
                </div>    
                
                        
                    
</div>